{% extends 'EpixaForumBundle::layout.html.twig' %}

{% block content %}
    <p>Edit Topic</p>

    <form action="{{ path('edit_topic', {'id' : topic.getId()}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}

{% set code = code(_self) %}